<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Labels</key>
	<string>Control Trials
Steptime (s)
Associative Trials
Motor Performance
Missteps
Motor Learning and Performance on Erasmus Ladder 
FMR1
WT 
CGGKI 
FMR1
WT 
CGGKI 
FMR1
WT 
CGGKI 
*
*
*
*
*
*
</string>
	<key>Text</key>
	<string></string>
</dict>
</plist>
